In [4]:
%pylab inline

import numpy as np
import matplotlib as plt
import pandas as pd
import math

Populating the interactive namespace from numpy and matplotlib

In [5]:
stormdet2014 = pd.DataFrame.from_csv(open('Data/StormEvents_details-ftp_v1.0_d2014_c20150701.csv',
                                       'r'))
stormdet2015 = pd.DataFrame.from_csv(open('Data/StormEvents_details-ftp_v1.0_d2015_c20150701.csv',
                                       'r'))

#Changes DAMAGE_CROPS from object datatype to float datatype
#stormdet2014['DAMAGE_CROPS'] = stormdet2014['DAMAGE_CROPS'].map(lambda s: float(s[:-1])*1000, na_action='ignore')
#stormdet2015['DAMAGE_CROPS'] = stormdet2015['DAMAGE_CROPS'].map(lambda s: float(s[:-1])*1000, na_action='ignore')

In [56]:
stormdet2015['DAMAGE_CROPS'].unique()

array(['0.00K', nan, '8.00K', '75.00K', '3.00K', '5.00K', '0.50K', '2.00K',
       '1.00K', '2.50K', '4.00K'], dtype=object)

In [102]:
stormdet2015['DAMAGE_CROPS'].iloc[20:30]

BEGIN_YEARMONTH
201502    0.00K
201502    0.00K
201502    0.00K
201502    0.00K
201502    0.00K
201502    0.00K
Name: DAMAGE_CROPS, dtype: object

In [5]:
def ObFl(ser):
    "Converts storm data numerical objects into floats by parsing K and M."
    for x in ser:
        if math.isnan(x):
            break
        elif x[-1] == 'K':
            ser.at[x] = float(x[:-1])*1000
        elif x[-1] == 'M':
            ser.at[x] = float(x[:-1])*1000000
        else:
            ser.at[x] = float('NaN')
#ser.at[x] = float('nan')

In [ ]:
# ###DO NOT USE, OLD BAD IDEA###
# def ObFl(ser):
#     "Converts storm data numerical objects into floats by parsing K and M."
# #    UniqueIn = ser.unique
    
#     for (index, x) in ser.iteritems():
#         if x[-1] == 'K':
#             ser.at[index] = float(x[:-1])*1000
#         elif x[-1] == 'M':
#             ser.at[index] = float(x[:-1])*1000000
#         else:
#             ser.at[index] = float('NaN')
        
# #ser.at[x] = float('nan')
# #if math.isnan(x):
# #    break

In [ ]:
yams = pd.Series(['0.00K', '9.00K', '8.00M'])
yams = ObFl(yams)
print yams

for (index, x) in yams.iteritems():
    print x
    print index
    if x[-1] == 'K':
        yams.at[index] = float(x[:-1])*1000
        print yams[index]

In [6]:
ObFl(stormdet2015['DAMAGE_CROPS'])

TypeError: 'float' object has no attribute '__getitem__'

In [86]:
def ObFl(ser):
    "Converts storm data numerical objects into floats by parsing K and M."
    for x in ser:
        print x

In [85]:
stormdet2015['DAMAGE_CROPS'].iloc[5]

'0.00K'

In [44]:
stormdet2015.head()

,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,YEAR,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
BEGIN_YEARMONTH,,,,,,,,,,,,,,,,,,,,,
201502,1,200,201502,1,2200,1417343,560121,ILLINOIS,17,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure tracked from eastern Colorado dur...,Weather observers across Cass County reported ...,NaN
201502,1,400,201502,2,0,1417343,560123,ILLINOIS,17,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure tracked from eastern Colorado dur...,Weather observers across DeWitt County reporte...,NaN
201502,1,500,201502,2,0,1417343,560122,ILLINOIS,17,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure tracked from eastern Colorado dur...,Weather observers across Champaign County repo...,NaN
201502,1,500,201502,2,0,1417343,560129,ILLINOIS,17,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure tracked from eastern Colorado dur...,Weather observers across Vermilion County repo...,NaN
201502,1,200,201502,1,2200,1417343,560111,ILLINOIS,17,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure tracked from eastern Colorado dur...,Weather observers across Fulton County reporte...,NaN

In [54]:
stormdet2015.columns

Index([u'BEGIN_DAY', u'BEGIN_TIME', u'END_YEARMONTH', u'END_DAY', u'END_TIME',
       u'EPISODE_ID', u'EVENT_ID', u'STATE', u'STATE_FIPS', u'YEAR',
       u'MONTH_NAME', u'EVENT_TYPE', u'CZ_TYPE', u'CZ_FIPS', u'CZ_NAME',
       u'WFO', u'BEGIN_DATE_TIME', u'CZ_TIMEZONE', u'END_DATE_TIME',
       u'INJURIES_DIRECT', u'INJURIES_INDIRECT', u'DEATHS_DIRECT',
       u'DEATHS_INDIRECT', u'DAMAGE_PROPERTY', u'DAMAGE_CROPS', u'SOURCE',
       u'MAGNITUDE', u'MAGNITUDE_TYPE', u'FLOOD_CAUSE', u'CATEGORY',
       u'TOR_F_SCALE', u'TOR_LENGTH', u'TOR_WIDTH', u'TOR_OTHER_WFO',
       u'TOR_OTHER_CZ_STATE', u'TOR_OTHER_CZ_FIPS', u'TOR_OTHER_CZ_NAME',
       u'BEGIN_RANGE', u'BEGIN_AZIMUTH', u'BEGIN_LOCATION', u'END_RANGE',
       u'END_AZIMUTH', u'END_LOCATION', u'BEGIN_LAT', u'BEGIN_LON', u'END_LAT',
       u'END_LON', u'EPISODE_NARRATIVE', u'EVENT_NARRATIVE', u'DATA_SOURCE '],
      dtype='object')

In [48]:
stormdet2015.dtypes

BEGIN_DAY               int64
BEGIN_TIME              int64
END_YEARMONTH           int64
END_DAY                 int64
END_TIME                int64
EPISODE_ID              int64
EVENT_ID                int64
STATE                  object
STATE_FIPS              int64
YEAR                    int64
MONTH_NAME             object
EVENT_TYPE             object
CZ_TYPE                object
CZ_FIPS                 int64
CZ_NAME                object
WFO                    object
BEGIN_DATE_TIME        object
CZ_TIMEZONE            object
END_DATE_TIME          object
INJURIES_DIRECT         int64
INJURIES_INDIRECT       int64
DEATHS_DIRECT           int64
DEATHS_INDIRECT         int64
DAMAGE_PROPERTY        object
DAMAGE_CROPS          float64
SOURCE                 object
MAGNITUDE             float64
MAGNITUDE_TYPE         object
FLOOD_CAUSE            object
CATEGORY              float64
TOR_F_SCALE            object
TOR_LENGTH            float64
TOR_WIDTH             float64
TOR_OTHER_WFO          object
TOR_OTHER_CZ_STATE     object
TOR_OTHER_CZ_FIPS     float64
TOR_OTHER_CZ_NAME      object
BEGIN_RANGE           float64
BEGIN_AZIMUTH          object
BEGIN_LOCATION         object
END_RANGE             float64
END_AZIMUTH            object
END_LOCATION           object
BEGIN_LAT             float64
BEGIN_LON             float64
END_LAT               float64
END_LON               float64
EPISODE_NARRATIVE      object
EVENT_NARRATIVE        object
DATA_SOURCE           float64
dtype: object

In [4]:
print stormdet2015['MAGNITUDE_TYPE'].unique()

[nan 'MG' 'EG' 'MS' 'ES']

In [49]:
print stormdet2015['EVENT_TYPE'].unique()

['Winter Weather' 'Heavy Snow' 'Dense Fog' 'Extreme Cold/Wind Chill'
 'Flash Flood' 'Flood' 'Drought' 'Ice Storm' 'Winter Storm'
 'Marine Thunderstorm Wind' 'Strong Wind' 'Frost/Freeze'
 'Thunderstorm Wind' 'Cold/Wind Chill' 'Lake-Effect Snow' 'High Wind'
 'Blizzard' 'Astronomical Low Tide' 'Tornado' 'Waterspout' 'Freezing Fog'
 'Lightning' 'Heavy Rain' 'High Surf' 'Wildfire' 'Avalanche'
 'Coastal Flood' 'Marine High Wind' 'Funnel Cloud' 'Rip Current'
 'Debris Flow' 'Sleet' 'Hail' 'Dense Smoke' 'Marine Strong Wind'
 'Dust Storm' 'Excessive Heat' 'Sneakerwave' 'Marine Dense Fog']

In [50]:
print stormdet2015['DAMAGE_PROPERTY'].unique()

['0.00K' nan '2.00K' '2.50K' '50.00K' '10.00K' '1.50K' '12.00K' '3.00K'
 '1.00K' '8.00K' '4.00K' '24.00K' '5.00K' '25.00K' '75.00K' '200.00K'
 '0.50K' '340.00K' '350.00K' '800.00K' '500.00K' '450.00K' '300.00K'
 '750.00K' '400.00K' '100.00K' '1.00M' '7.00K' '9.00K' '150.00K' '40.00K'
 '30.00K' '20.00K' '60.00K' '47.00K' '15.00K' '0.10K' '45.00K' '7.50K'
 '12.50K' '1.50M' '35.00K' '6.00K' '2.00M' '447.00K' '1.30M' '600.00K'
 '112.00K' '51.00K' '70.00K' '50.00M' '250.00K' '125.00K' '110.00K' '0.20K'
 '80.00K' '15.00M' '20.00M' '105.00K' '5.00M' '1.25K' '16.00K' '175.00K'
 '10.00M' '0.05K']

In [19]:
print stormdet2015['DAMAGE_CROPS'].unique()

['0.00K' nan '8.00K' '75.00K' '3.00K' '5.00K' '0.50K' '2.00K' '1.00K'
 '2.50K' '4.00K']

In [42]:
#s = '75.00K'
#Regular expression module is RE
#float(s[:-1])
#stormdet2015['DAMAGE_CROPS'].dropna(inplace=True)

#(lambda s: float(s[:-1])*1000)

stormdet2015['DAMAGE_CROPS'] = stormdet2015['DAMAGE_CROPS'].map(lambda s: float(s[:-1])*1000, na_action='ignore')

print stormdet2015['DAMAGE_CROPS'].unique()

#pd.is_null()

[     0.     nan   8000.  75000.   3000.   5000.    500.   2000.   1000.
   2500.   4000.]

In [27]:
#s = '75.00K'
#Regular expression module is RE
#float(s[:-1])

stormdet2015['DAMAGE_CROPS'].dropna(inplace=True)
print stormdet2015['DAMAGE_CROPS'].unique()

test = stormdet2015['DAMAGE_CROPS'].apply(lambda s: float(s[:-1])*1000)

print test.unique()
#(lambda s: float(s[:-1])*1000)

['0.00K' '8.00K' '75.00K' '3.00K' '5.00K' '0.50K' '2.00K' '1.00K' '2.50K'
 '4.00K']
[     0.   8000.  75000.   3000.   5000.    500.   2000.   1000.   2500.
   4000.]

In [9]:
stormdet2015.pivot_table(values='INJURIES_INDIRECT',index='MONTH_NAME',columns='DEATHS_INDIRECT',
                         aggfunc=sum)

DEATHS_INDIRECT    0   1   2   3   5
MONTH_NAME
February         111  67   2   0 NaN
January          172  47  34   1   3
March             86   4   6 NaN NaN

In [8]:
stormdet2015.pivot_table(values='INJURIES_INDIRECT',index='MONTH_NAME',columns='DEATHS_INDIRECT',
                         aggfunc= np.mean)

DEATHS_INDIRECT         0         1         2   3   5
MONTH_NAME
February         0.017420  2.913043  0.666667   0 NaN
January          0.044733  4.272727  5.666667   1   3
March            0.025896  0.363636  2.000000 NaN NaN

In [ ]:
#np.where(condition->boolean, do-if-True, do-if-False)
#pd.merge(DataFrame0,DataFrame1)
#pd.pivot_table(data, values=None, index=None, 
#columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True)