Notes from working on problems in [Mode's Tutorial](https://community.modeanalytics.com/sql/tutorial/introduction-to-sql/)

In [ ]:
/*  WHERE*/
/*  LIMIT 90*/
/* Commenting in SQL*/
/* SELECT (columns) AS (name), FROM (table)*/
/* Tutorial: https://community.modeanalytics.com/sql/tutorial/sql-select-statement/ */
/* Note to self: it prefers single-quotes for strings to WHERE, and it's picky
about it. Meanwhile, double-quotes go around column names. */

In [ ]:
Select *,
      south * 100 / total AS south_perc,
      west * 100 / total AS west_perc,
      midwest * 100 / total AS midwest_perc,
      northeast * 100 / total AS northeast_perc
FROM (
  SELECT *,
    south + west + midwest + northeast AS total,
  FROM tutorial.us_housing_units
);

In [ ]:
Select
  ColumnA,
  ColumnB,
  calccolumn1,
  calccolumn1 / ColumnC as calccolumn2
From (
  Select
    ColumnA,
    ColumnB,
    ColumnC,
    ColumnA + ColumnB As calccolumn1
  from t42
);

In [ ]:
SELECT *,
      south + west + midwest + northeast AS total,
      south * 100 / total AS south_perc,
      west * 100 / total AS west_perc,
      midwest * 100 / total AS midwest_perc,
      northeast * 100 / total AS northeast_perc
  FROM tutorial.us_housing_units
  WHERE year > 2000