Attempt at uploading http://www.guidetoonlineschools.com/online-schools table so I can reorder it.

urllib is the HTTP call you want to use, and it turns out that pandas can already parse HTML tables. Joy!

(Spits out a list of DataFrames.)

In [1]:
import urllib.request
import pandas as pd
#import bs4 #BeautifulSoup 4
import html5lib

In [11]:

HTMLdoc = urllib.request.urlopen('http://www.guidetoonlineschools.com/online-schools')
print (type(HTMLdoc))

<class 'http.client.HTTPResponse'>

In [12]:
TableFrame = pd.read_html(HTMLdoc.read())

In [19]:
TableFrame[0].head()

,0,1,2,3
0,NaN,Compare Selected (0)A,Annual Tuition,Recommend Rate
1,NaN,Abilene Christian University,"Annual Tuition $28,350",Recommend Rate 100% (5 reviews)
2,NaN,Abraham Lincoln University,"Annual Tuition $7,500",Recommend Rate 100% (1 review)
3,NaN,Academy of Art University,"Annual Tuition $19,130",Recommend Rate 22% (27 reviews)
4,NaN,Adams State University,"Annual Tuition $18,081",Recommend Rate 100% (1 review)

In [ ]:
dataframe.merge(TableFrame)